html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei", "simhei";
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  vertical-align: baseline;
  font-size: 100%;
}
a {
  color: #000;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  max-height: 99999999px;
}
div {
  max-height: 99999999px;
}
img {
  display: block;
}
.m-top20 {
  margin-top: 0.26666667rem;
}
.m-top30 {
  margin-top: 0.4rem;
}
.m-top40 {
  margin-top: 0.53333333rem;
}
.m-top50 {
  margin-top: 0.66666667rem;
}
.m-top60 {
  margin-top: 0.8rem;
}
.m-top70 {
  margin-top: 0.93333333rem;
}
.m-top80 {
  margin-top: 1.06666667rem;
}
.m-bottom20 {
  margin-bottom: 0.26666667rem;
}
.m-bottom30 {
  margin-bottom: 0.4rem;
}
.m-bottom40 {
  margin-bottom: 0.53333333rem;
}
.m-bottom50 {
  margin-bottom: 0.66666667rem;
}
.m-bottom60 {
  margin-bottom: 0.8rem;
}
.m-bottom60 {
  margin-bottom: 0.8rem;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.col {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}
.grid-12 {
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-12 .col-1,
.grid-12 .col-2,
.grid-12 .col-3,
.grid-12 .col-4,
.grid-12 .col-5,
.grid-12 .col-6,
.grid-12 .col-7,
.grid-12 .col-8,
.grid-12 .col-9,
.grid-12 .col-10,
.grid-12 .col-11 {
  position: relative;
  float: left;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
}
.grid-12 .col-1 {
  width: 8.333333333333332%;
}
.grid-12 .col-2 {
  width: 16.666666666666664%;
}
.grid-12 .col-3 {
  width: 25%;
}
.grid-12 .col-4 {
  width: 33.33333333333333%;
}
.grid-12 .col-5 {
  width: 41.66666666666667%;
}
.grid-12 .col-6 {
  width: 50%;
}
.grid-12 .col-7 {
  width: 58.333333333333336%;
}
.grid-12 .col-8 {
  width: 66.66666666666666%;
}
.grid-12 .col-9 {
  width: 75%;
}
.grid-12 .col-10 {
  width: 83.33333333333334%;
}
.grid-12 .col-11 {
  width: 91.66666666666666%;
}
.grid-12 .col-12 {
  width: 100%;
}
input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
/* IOS，input出现阴影 */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"],
textarea {
  -webkit-appearance: none !important;
  /* 清楚ios阴影 */
  -moz-appearance: none !important;
  /* mobile firefox too! */
}
/* input为number时，在机子上显示上下箭头，去掉*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
.view {
  transition: all .5s ease;
}
.test-enter,
.test-leave {
  opacity: 0;
  transform: translate3d(10px, 0, 0);
}
.v-link-active {
  color: red;
}
[v-cloak] {
  display: none;
}
.button-clear {
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  padding: 0 6px;
  max-height: 42px;
  border-color: transparent;
  background: none;
  box-shadow: none;
}
.banner-2 {
  width: 100%;
  position: relative;
  top: 0;
}
.banner-bgImg {
  width: 100%;
}
.banner-2-logo {
  position: absolute;
  top: 42.5%;
  width: 100%;
  text-align: center;
}
.banner-logo-img {
  width: 3.36rem;
  margin: 0 auto;
}
.banner-2-logo > p {
  text-align: center;
  margin-top: 0.53333333rem;
  font-size: 19px;
  color: #ffffff;
  font-weight: 300;
}
[data-dpr="2"] .banner-2-logo > p {
  font-size: 38px;
}
[data-dpr="3"] .banner-2-logo > p {
  font-size: 57px;
}
.banner-2-logo > .solveTitle {
  width: 100%;
  color: #cfd1d4;
  font-size: 14px;
}
[data-dpr="2"] .banner-2-logo > .solveTitle {
  font-size: 28px;
}
[data-dpr="3"] .banner-2-logo > .solveTitle {
  font-size: 42px;
}
.banner-2-logo > h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  margin-top: 0.33333333rem;
}
[data-dpr="2"] .banner-2-logo > h1 {
  font-size: 35px;
}
[data-dpr="3"] .banner-2-logo > h1 {
  font-size: 53px;
}
.bar {
  width: 100%;
  height: 1.06666667rem;
  background-color: #f7f7f7;
  font-weight: 300;
  font-size: 14px;
}
[data-dpr="2"] .bar {
  font-size: 28px;
}
[data-dpr="3"] .bar {
  font-size: 42px;
}
.bar-active {
  background-color: #ffffff;
  color: #2297ff !important;
}
.bar > li {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  color: #000000;
  line-height: 1.06666667rem;
}
.select-open {
  display: block;
}
.select4 {
  position: relative;
  width: 100%;
}
.select4 > h1 {
  width: 100%;
  margin-top: 0.93333333rem;
  font-size: 18px;
  text-align: center;
  color: #121212;
}
[data-dpr="2"] .select4 > h1 {
  font-size: 35px;
}
[data-dpr="3"] .select4 > h1 {
  font-size: 53px;
}
.select4 > h2 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #121212;
}
[data-dpr="2"] .select4 > h2 {
  font-size: 28px;
}
[data-dpr="3"] .select4 > h2 {
  font-size: 42px;
}
.select4 .select4-title-des {
  width: 90%;
  margin-left: 5%;
  text-align: justify;
  font-weight: 400;
  color: #666666;
  font-size: 14px;
}
[data-dpr="2"] .select4 .select4-title-des {
  font-size: 28px;
}
[data-dpr="3"] .select4 .select4-title-des {
  font-size: 42px;
}
.select4 .select4-tubiao {
  width: 92%;
  margin-left: 4%;
}
.select4 .select4-tubiao > div > img {
  width: 55%;
  margin: 0 auto;
}
.select4 .select4-tubiao > div > p {
  color: #666666;
  width: 100%;
  text-align: center;
  margin-top: 0.26666667rem;
  font-size: 14px;
}
[data-dpr="2"] .select4 .select4-tubiao > div > p {
  font-size: 28px;
}
[data-dpr="3"] .select4 .select4-tubiao > div > p {
  font-size: 42px;
}
.select4 .select4-tubiao > div > p > span {
  color: #000;
}
.select4 .select4-wenzi {
  width: 88%;
  margin-left: 6%;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.select4 .select4-wenzi > div > div {
  color: #666666;
  font-size: 14px;
  text-align: center;
}
[data-dpr="2"] .select4 .select4-wenzi > div > div {
  font-size: 28px;
}
[data-dpr="3"] .select4 .select4-wenzi > div > div {
  font-size: 42px;
}
.select4 .select4-list {
  width: 91%;
  position: relative;
  padding-left: 9%;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}
.select4 .select4-list > span {
  width: 0.45333333rem;
  height: 0.45333333rem;
  position: absolute;
  top: 35%;
  left: 9%;
  line-height: 0.45333333rem;
  background-color: #d4d4d4;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
}
[data-dpr="2"] .select4 .select4-list > span {
  font-size: 30px;
}
[data-dpr="3"] .select4 .select4-list > span {
  font-size: 45px;
}
.select4 .select4-list > p {
  position: absolute;
  left: 16%;
  width: 80%;
  top: 32%;
  /* margin-left: 3px; */
  font-size: 15px;
}
[data-dpr="2"] .select4 .select4-list > p {
  font-size: 30px;
}
[data-dpr="3"] .select4 .select4-list > p {
  font-size: 45px;
}
.select4 .select4-list > .many-text {
  position: absolute;
  width: 80%;
  margin-left: 0.06666667rem;
  font-size: 13px;
}
[data-dpr="2"] .select4 .select4-list > .many-text {
  font-size: 25px;
}
[data-dpr="3"] .select4 .select4-list > .many-text {
  font-size: 38px;
}
.select4 .select4-list-add {
  width: 100%;
  padding-bottom: 0.26666667rem;
  padding-top: 0.13333333rem;
}
.select4 .select4-des {
  width: 100%;
  background-color: #f3f3f3;
  padding-top: 0.8rem;
  padding-bottom: 14%;
  margin-top: 6%;
}
.select4 .select4-des > h1 {
  width: 100%;
  text-align: center;
  font-size: 18px;
}
[data-dpr="2"] .select4 .select4-des > h1 {
  font-size: 35px;
}
[data-dpr="3"] .select4 .select4-des > h1 {
  font-size: 53px;
}
.select4 .select4-des > h2 {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
[data-dpr="2"] .select4 .select4-des > h2 {
  font-size: 28px;
}
[data-dpr="3"] .select4 .select4-des > h2 {
  font-size: 42px;
}
.select4 .select4-des .select4-dataImg {
  width: 80%;
  margin: 0 auto;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.select4 .select4-des .select4-type-list {
  width: 79%;
  position: relative;
  /* margin-left: 6%; */
  margin: 0 auto;
  padding-top: 0.93333333rem;
  padding-left: 0.53333333rem;
  padding-right: 0.53333333rem;
  padding-bottom: 4%;
  border-radius: 10px;
  background-color: #ffffff;
}
.select4 .select4-des .select4-type-list .select4-type-list-conner {
  position: absolute;
  width: 0.33333333rem;
  height: 0.33333333rem;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%, -50%) rotate(45deg);
  background-color: #fff;
}
.select4 .select4-des .select4-type-list > h1 {
  width: 100%;
  margin-top: 0.93333333rem;
  font-size: 18px;
  text-align: center;
  color: #121212;
}
[data-dpr="2"] .select4 .select4-des .select4-type-list > h1 {
  font-size: 35px;
}
[data-dpr="3"] .select4 .select4-des .select4-type-list > h1 {
  font-size: 53px;
}
.select4 .select4-des .select4-type-list > h2 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
[data-dpr="2"] .select4 .select4-des .select4-type-list > h2 {
  font-size: 28px;
}
[data-dpr="3"] .select4 .select4-des .select4-type-list > h2 {
  font-size: 42px;
}
.select4 .select4-des .select4-type-list > div {
  text-align: center;
}
.select4 .select4-des .select4-type-list > div > div > h1 {
  font-size: 14px;
}
[data-dpr="2"] .select4 .select4-des .select4-type-list > div > div > h1 {
  font-size: 28px;
}
[data-dpr="3"] .select4 .select4-des .select4-type-list > div > div > h1 {
  font-size: 42px;
}
.select4 .select4-des .select4-type-list > div > div > p {
  font-size: 14px;
  color: #666666;
}
[data-dpr="2"] .select4 .select4-des .select4-type-list > div > div > p {
  font-size: 28px;
}
[data-dpr="3"] .select4 .select4-des .select4-type-list > div > div > p {
  font-size: 42px;
}
